input, textarea {
    margin-bottom: 5px;
}

.list-group {
    margin-bottom: 60px;

}

.list-group-item {
    background-color: rgba(0, 122, 255, 0.25);
}

.navbar-default {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.navbar-default .navbar-brand {
    color: White;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.glyphicon-user, .header-plus.glyphicon-plus, .glyphicon-home, .glyphicon-chevron-left,
.glyphicon-search, .glyphicon-fire, .glyphicon-heart {
    padding-top: 15px;
}

.glyphicon-fire {
    padding-left: 10px;
    color: #ff6f44;
}

.glyphicon-heart, .glyphicon-heart-empty , .glyphicon-remove {
    padding-left: 10px;
    color: red;
}






.glyphicon-plus, .glyphicon-user, .glyphicon-home, .glyphicon-chevron-left, .glyphicon-search {
    color: white;
    padding-left: 5px;
}

@media (min-width: 1200px) {
    .col-lg-9.lpb-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 60px;
        bottom: 0px;
    }
}

span, .glyphicon-home {
    pointer-events: auto;
    cursor: pointer;
}

.lpb-split-view-left {
    position: absolute;
    top: 60px;
    bottom: 0px;
    overflow-y: scroll;
}

h1, p {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.img-responsive {
    margin-left: auto;
    margin-right: auto;
}

.shrinker {
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    color: black;
}

.lpb-container {
    position: relative;
}

.widget .glyphicon-cog {
    position: absolute;
    right: 0px;
    background-color: white;
    padding: 2px;
}

.widget .glyphicon-th-list {
    position: absolute;
    right: 15px;
    background-color: white;
    padding: 2px;
}

body {
    background-attachment: fixed;
    padding-bottom: 70px;
    padding-top: 60px;
    background-image: url("../../uploads/maxresdefault.jpg");

}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lpb.color {
    background-color: rgba(0, 29, 115, 0.18)
}

.login-container {
    margin: auto;
    min-width: 350px;
    max-width: 400px;
    padding-bottom: 10px;
    background-color: rgba(0, 122, 255, 0.24);
    border-radius: 10px;

}

.login-header, label {
    color: white;
}

.profile-container {
    min-width: 350px;
    width: 30%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(0, 122, 255, 0.24);
    border-radius: 10px;
}

.lpb-navbar-search {
    color: white;
    width: 30%;
    margin-top: 8px;
    margin-left: 10px;
    background-color: rgba(0, 122, 255, 0.27);
}

.lpb-pic-viewer {
    margin: auto;
    min-width: 350px;
    width: 50%;
    color: white;
    background-color: rgba(0, 122, 255, 0.14);
    text-align: center;

}

.lpb-home-container {
    color: white;
    min-width: 350px;
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(0, 122, 255, 0.24);
    border-radius: 10px;
}

a:link {
    color: #ffffff;

}

/*input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}*/



