<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <a href="#!/profile/{{model.user._id}}">
                <span class="header-plus pull-left glyphicon glyphicon-chevron-left">
                </span>
        </a>


        <div class="container-fluid">
            <a href="#!/profile/{{model.user._id}}">
        <span class="pull-right glyphicon glyphicon-user">
                </span>
            </a>
        </div>
    </div>
</nav>


<div class="lpb-home-container">
    <div class="lpb-pic-viewer">

        <input type="text" class="form-control lpb-edit-name"
               placeholder="Search to follow"
               ng-model="model.searchInput">

            <a ng-click="model.searchUser(model.searchInput)"
               type="button" class="btn btn-primary pull-left btn-block">Search For Followers</a>



        <ul class="list-group lpb-follwers-container">
            <li class="list-group-item">
                <div class="row container-fluid">
                    <h4>Users To Follow</h4>
                </div>
            </li>

            <li ng-if="model.findFollow" class="list-group-item">
                <div class="row">
                    <h5 class=" container-fluid pull-left">{{model.findFollow.username}}</h5>
                    <a ng-click="model.follow(model.findFollow.username)">
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </div>
            </li>
        </ul>


        <ul class="list-group lpb-follwers-container">
            <li class="list-group-item">
                <div class="row container-fluid">
                    <h4>Followers</h4>
                </div>
            </li>

            <div>
                <li ng-repeat="follower in model.followers" class="list-group-item">
                    <div class="row">
                        <h5 class="pull-left container-fluid"><a
                                href="#!/user/{{model.user._id}}/view/{{follower._id}}/albums">{{follower.username}}</a>
                        </h5>

                        <a ng-click="model.unFollowed(follower._id)">
                                <span class="glyphicon glyphicon-remove-sign pull-right lpb-glyphicon-move-up">
                    </span>
                        </a>

                    </div>
                </li>
            </div>

            <li class="list-group-item">
                <div class="row container-fluid">
                    <h4>Following</h4>
                </div>
            </li>


            <li ng-repeat="follow in model.following" class="list-group-item">
                <div class="row">
                    <h5 class="pull-left container-fluid"><a
                            href="#!/user/{{model.user._id}}/view/{{follow._id}}/albums">{{follow.username}}</a></h5>

                    <a ng-click="model.unFollow(follow._id)">
                        <span class="glyphicon glyphicon-remove-sign pull-right lpb-glyphicon-move-up "></span>
                    </a>
                </div>
            </li>

        </ul>
    </div>
</div>




