

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a href="#!/profile/{{model.user._id}}/home">
                <span class="header-plus pull-right glyphicon glyphicon-home">
                </span>
            </a>

            <div class="navbar-header">
                <a class="navbar-brand pull-left">Edit {{model.nonAdminUser.username}}'s Profile</a>


            </div>


        </div><!-- /.container-fluid -->
    </nav>


    <div class="container-fluid profile-container">
        <label for="firstName">First Name</label>
        <input name="firstName"
               ng-model="model.nonAdminUser.firstName"
               value="demo"
               class="form-control"
               id="firstName"/>

        <label for="lastName">Last Name</label>
        <input name="lastname"
               ng-model="model.nonAdminUser.lastName"
               value="user"
               class="form-control"
               id="lastName"/>

        <label for="displayUsername">Username</label>
        <input name="displayUsername"
               ng-model="model.nonAdminUser.username"
               value="demouser"
               disabled="disabled"
               class="form-control"
               id="displayUsername"/>

        <label for="email">email</label>
        <input name="email"
               ng-model="model.nonAdminUser.email"
               placeholder="demouser@demo.com"
               class="form-control"
               id="email"/>

        <label for="dob">Date of birth</label>
        <input name="dob"
               type="date"
               ng-model="model.nonAdminUser.dateOfBirth"
               placeholder="mm/dd/yyyy"
               class="form-control"
               id="dob"/>


        <a class="btn btn-primary btn-block"
           href="#!/profile/{{model.user._id}}/home"
           role="button">Go To Feed</a>

        <a class="btn btn-primary btn-block"
           ng-click="model.updateUser()"
           role="button">Update</a>


    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <a href="#!/profile/{{model.user._id}}/home/albums"
           type="button" class="btn btn-primary navbar-btn pull-left">View My Albums</a>
        <a href="#!/profile/{{model.user._id}}/home/follow"
           type="button" class="btn btn-primary navbar-btn pull-left">Search For Followers</a>
        <div class="container-fluid">
            <a href="#!/profile/{{model.user._id}}">
        <span class="pull-right glyphicon glyphicon-user">
                </span>
            </a>
        </div>
    </nav>
