<div class="login-container ">
    <div class="container-fluid">


        <h1 class="login-header">Login</h1>


        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>

        <label for="username">Username</label>
        <input name="username"
               ng-model="model.user.username"
               class="form-control"
               id="username"/>

        <label for="password">Password</label>
        <input name="password"
               ng-model="model.user.password"
               type="password"
               class="form-control"
               id="password"/>

        <a class="btn btn-primary btn-block"
           href="#!/profile/099/home">Proceed without logging in</a>

        <a class="btn  btn-primary btn-block"
           ng-click="model.login(model.user)">Login</a>

        <a href="/auth/google" class="btn btn-danger btn-block">
            <span class="fa fa-google-plus"></span>
            Google
        </a>

        <a class="btn btn-success btn-block"
           href="#!/register"
           role="button">Register
        </a>
    </div>

</div>
