<div ng-controller="profileController">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a href="#!/profile/{{model.user._id}}/home">
                <span class="header-plus pull-right glyphicon glyphicon-home">
                </span>
            </a>

            <div class="navbar-header">
                <a class="navbar-brand pull-left">Profile</a>
                <span> <input type="text" class="form-control lpb-navbar-search pull-left"
                              placeholder="search..."
                              ng-model="model.searchInput">
                </span>
                <span ng-click="model.searchByTag(model.searchInput)"
                      class="pull-left glyphicon glyphicon-search"></span>


                <div class="container-fluid">
                <span ng-click="model.searchHot(model.searchInput)"
                      class="pull-left glyphicon glyphicon-fire">
                </span>

                    <span ng-click="model.showFavoritesForUser()"
                          class="pull-left glyphicon glyphicon-heart">
                </span>

                </div>



        </div><!-- /.container-fluid -->
    </nav>


    <div class="container-fluid profile-container">
        <label for="firstName">First Name</label>
        <input name="firstName"
               ng-model="model.user.firstName"
               value="demo"
               class="form-control"
               id="firstName"/>

        <label for="lastName">Last Name</label>
        <input name="lastname"
               ng-model="model.user.lastName"
               value="user"
               class="form-control"
               id="lastName"/>

        <label for="displayUsername">Username</label>
        <input name="displayUsername"
               ng-model="model.user.username"
               value="demouser"
               disabled="disabled"
               class="form-control"
               id="displayUsername"/>

        <label for="email">email</label>
        <input name="email"
               ng-model="model.user.email"
               placeholder="demouser@demo.com"
               class="form-control"
               id="email"/>

        <label for="dob">Date of birth</label>
        <input name="dob"
               type="date"
               placeholder="mm/dd/yyyy"
               class="form-control"
               id="dob"/>


        <a class="btn btn-primary btn-block"
           href="#!/profile/{{model.user._id}}/home"
           role="button">Go To Feed</a>

        <a class="btn  btn-danger btn-block"
           href="#!/login"
           role="button">Logout</a>

        <a class="btn btn-primary btn-block"
           ng-click="model.updateUser()"
           role="button">Update</a>
        <a class="btn btn-danger btn-block"
           ng-click="model.unRegister()"
           role="button">Unregister</a>

    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <a href="#!/profile/{{model.user._id}}/home/albums"
           type="button" class="btn btn-primary navbar-btn pull-left">View My Albums</a>
        <a href="#!/profile/{{model.user._id}}/home/follow"
           type="button" class="btn btn-primary navbar-btn pull-left">Search For Followers</a>
        <div class="container-fluid">
            <a href="#!/profile/{{model.user._id}}">
        <span class="pull-right glyphicon glyphicon-user">
                </span>
            </a>
        </div>
    </nav>

</div>