<div ng-controller="widgetNewController">

    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="header-plus pull-left glyphicon glyphicon-chevron-left">
                </span>
            </a>
            <div class="navbar-header">
                <a class="navbar-brand">Choose a Widget</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container-fluid">
        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.createNewHeader()">Header</a>
        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.createNewImage()">Image</a>
        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.createNewYoutube()">YouTube</a>
        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.createNewHtml()">HTML</a>
        <a class="btn btn-default btn-danger btn-block"
           href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
           role="button">Cancel
        </a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">

        <div class="container-fluid">
            <a href="#!/profile/{{model.userId}}">
        <span class="pull-right glyphicon glyphicon-user">
                </span>
            </a>
        </div>
    </nav>

</div>