<div ng-controller="widgetListController">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="header-plus pull-right glyphicon glyphicon-plus">
                </span>
            </a>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="header-plus pull-left glyphicon glyphicon-chevron-left">
                </span>
            </a>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand">Widgets</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div ng-repeat="widget in model.widgets">
        <div class="lpb-container">
            <div ng-switch="widget.widgetType">
                <div class="container-fluid" ng-switch-when="HEADING">
                    <ng-include src="'views/widget/templates/widget-heading.view.client.html'">
                </div>
                <div ng-switch-when="IMAGE">
                    <ng-include src="'views/widget/templates/widget-image.view.client.html'">
                </div>
                <div ng-switch-when="YOUTUBE">
                    <ng-include src="'views/widget/templates/widget-youtube.view.client.html'">
                </div>
                <div ng-switch-when="HTML">
                    <ng-include src="'views/widget/templates/widget-html.view.client.html'">
                </div>
            </div>
            <div class="widget">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}/edit">
            <span class="pull-right glyphicon glyphicon-cog">
            </span>
                </a>
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}/edit">
            <span class="pull-right glyphicon glyphicon-th-list">
            </span>
                </a>
            </div>
        </div>

    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">

        <div class="container-fluid">
            <a href="#!/profile/{{model.userId}}">
        <span class="pull-right glyphicon glyphicon-user">
                </span>
            </a>
        </div>
    </nav>
</div>
</div>