<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="lpb-container">
                <a href="widget-choose.view.client.html">
                <span class="header-plus pull-right glyphicon glyphicon-plus">
                </span>
                </a>
                <a href="../../page/templates/page-list.view.client.html">
                <span class="header-plus pull-left glyphicon glyphicon-chevron-left">
                </span>
                </a>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Widgets</a>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div class="title">
        <div class="lpb-container">
            <div class="widget">
                <a href="widget-choose.view.client.html">
                <span class="pull-right glyphicon glyphicon-cog">
                </span>
                </a>
                <a href="widget-choose.view.client.html">
                <span class="pull-right glyphicon glyphicon-th-list">
                </span>
                </a>
            </div>
            <h1> Star Wars Updates
            </h1>
        </div>
    </div>

    <div class="last-jedi">
        <div class="lpb-container">
            <div class="widget">
                <a href="widget-choose.view.client.html">
                <span class="pull-right glyphicon glyphicon-cog">
                </span>
                </a>
                <a href="widget-choose.view.client.html">
                <span class="pull-right glyphicon glyphicon-th-list">
                </span>
                </a>
            </div>
            <img class="img-responsive" src="../../images/last-jedi.jpg" alt="The Last Jedi">
        </div>
    </div>

    <div class="about-jedi">
        <div class="lpb-container">
            <div class="widget">
                <a href="widget-choose.view.client.html">
                <span class="pull-right glyphicon glyphicon-cog">
                </span>
                </a>
                <a href="widget-choose.view.client.html">
                <span class="pull-right glyphicon glyphicon-th-list">
                </span>
                </a>
            </div>
            <p>Star Wars: The Last Jedi
                (also known as Star Wars: Episode VIII –
                The Last Jedi) is an upcoming American epic space opera film
                written and directed by Rian Johnson. It is the second film in the Star Wars sequel
                trilogy, following <a href="https://en.wikipedia.org/wiki/Star_Wars:_The_Force_Awakens">Star Wars:
                    The Force Awakens</a> (2015). The film is produced by Lucasfilm
                and will be distributed by Walt Disney Studios Motion Pictures. It stars Mark Hamill, Carrie
                Fisher, Adam Driver, Daisy Ridley, John Boyega, Oscar Isaac, Lupita Nyong'o, Domhnall Gleeson,
                Anthony Daniels, Gwendoline Christie, and Andy Serkis in returning roles. New cast members include
                Benicio del Toro, Laura Dern, and Kelly Marie Tran. Fisher died in December 2016, making The Last
                Jedi her final film role.
            </p>
        </div>

    </div>
    <div class="shrinker">
        <div class="lpb-container">
            <div class="widget">
                <a href="widget-choose.view.client.html">
                <span class="header-plus pull-right glyphicon glyphicon-cog">
                </span>
                </a>
                <a href="widget-choose.view.client.html">
                <span class="header-plus pull-right glyphicon glyphicon-th-list">
                </span>
                </a>
            </div>
            <p> In other news the second installment of the Star Wars Battlefront franchise releases in November</p>
            <!-- 4:3 aspect ratio -->
            <div class="lpb-container">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_q51LZ2HpbE">
                    </iframe>
                </div>
                <div class="widget">
                    <a href="widget-choose.view.client.html">
                <span class="pull-right glyphicon glyphicon-cog">
                </span>
                    </a>
                    <a href="widget-choose.view.client.html">
                <span class="pull-right glyphicon glyphicon-th-list">
                </span>
                    </a>
                </div>
            </div>
        </div>


        <nav class="navbar navbar-default navbar-fixed-bottom">

            <div class="container-fluid">
                <a href="#!/profile/{{model.user._id}}">
        <span class="pull-right glyphicon glyphicon-user">
                </span>
                </a>
            </div>
        </nav>
    </div>
</div>