<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <!--  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    --> <!-- use lpb for classes that I create -->
    <link href="../../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="../../css/styles.css" rel="stylesheet">

    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <a href="widget-list.html">
                <span class="header-plus pull-left glyphicon glyphicon-chevron-left">
                </span>
            </a>
            <a href="widget-list.html">
                <span class="header-plus pull-right glyphicon glyphicon-ok">
                </span>
        </a>
            <div class="navbar-header">

                <a class="navbar-brand" href="#">Widget Edit</a>
            </div>

        </div><!-- /.container-fluid -->


    </nav>


</head>
<body>



<div class="container-fluid">
    <label for="name">Name</label>
    <input name="firstName"
           class="form-control"
           id="name"/>

    <label for="text">Text</label>
    <input name="title"
           class="form-control"
           id="text"/>

    <label for="title">Size</label>
    <input name="title"
           class="form-control"
           id="title"/>

    <a class="btn btn-default btn-danger btn-block"
       href="widget-list.html"
       role="button">Cancel
    </a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">
        <a href="../../user/templates/profile.view.client.html">
        <span class="pull-right glyphicon glyphicon-user">
                </span>
        </a>
    </div>
</nav>


</body>
</html>