<div class="container-fluid lpb.color">

    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <a href="#!/profile/{{model.user._id}}">
                <span class="header-plus pull-left glyphicon glyphicon-chevron-left">
                </span>
            </a>
            <div class="container-fluid">
                <a href="#!/profile/{{model.user._id}}">
        <span class="pull-right glyphicon glyphicon-user">
                </span>
                </a>
            </div>


        </div><!-- /.container-fluid -->


    </nav>

    <div class="jumbotron">
        <h1>Hello, {{model.user.username}}</h1>
        <h2>Search for a user to see their favorites / posts</h2>

        <input class="form-control"
               placeholder="search deviant art"
               ng-model="model.searchInput">
        <button class="btn btn-primary btn-block"
                ng-click="model.showFavoritesForUserByUsername(model.searchInput)">
            search User
        </button>
        <button class="btn btn-success btn-block"
                ng-click="model.follow(model.searchInput)">
            follow currently searched user
        </button>
        <table class="table">
            <tr ng-repeat="follower in model.user.followers">
                <td><h4>
                    {{follower.username}}</h4>
                <td>
                </td>
            </tr>

        </table>
    </div>


    <table class="table">
        <tr ng-repeat="art in model.showArt track by $index">
            <td><h4><a href="{{art.url}}">
                {{art.title}}</a></h4>
                <a ng-click="model.addFavorite(art.deviationid)">
                    <span class="glyphicon glyphicon-heart-empty pull-right">

                    </span>
                </a> <img ng-src="{{art.content.src}}" style="width : 100%">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter a comment...">
                    <span class="input-group-btn">
          <button class="btn btn-default" type="button">Submit</button>
      </span>
                </div><!-- /input-group --></td>

            <td>

            </td>
        </tr>

    </table>


</div>



