<div class="container-fluid">
    <div ng-controller="registerController">

    <div ng-show="model.errorMessage" class="alert alert-danger">
        {{model.errorMessage}}
    </div>

    <h1>Register</h1>

    <label for="username">Username</label>
    <input name="username"
           ng-model="user.username"
           placeholder="username"
           class="form-control"
           id="username"/>

    <label for="password1">Password</label>
    <input name="password"
           ng-model="user.password"
           type="password"
           placeholder="password"
           class="form-control"
           id="password1"/>

    <label for="password1">Verify Password</label>
    <input name="verify password"
           ng-model="user.password1"
           type="password"
           placeholder="verify password"
           class="form-control"
           id="verify password1"/>

    <a class="btn btn-default btn-success btn-block"
       ng-click="model.registerUser(user)"
       role="button">Register
    </a>

    <a class="btn btn-default btn-danger btn-block"
       href="#!/login"
       role="button">Cancel
    </a>

</div>
