<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <a href="#!/profile/{{model.user._id}}/home">
                <span class="header-plus pull-left glyphicon glyphicon-chevron-left">
                </span>
        </a>


        <div class="container-fluid">
            <a href="#!/profile/{{model.user._id}}">
        <span class="pull-right glyphicon glyphicon-user">
                </span>
            </a>
        </div>
    </div>
</nav>


<div class="lpb-home-container">
    <h1>{{model.album.name}}</h1>
</div>
<div class=" lpb-pic-viewer container-fluid">
    <div>
        <label class="lpb-name-label pull-left">Name</label>
    </div>
    <div>
        <input type="text" class="form-control lpb-navbar-search lpb-edit-name"
               placeholder="Album Name"
               ng-model="model.album.name">
    </div>

    <button class="btn btn-primary btn-block"
            ng-click="model.editAlbum(model.album.name)">Save Name
    </button>


    <table class="table container-fluid">
        <tr ng-repeat="art in model.showArt track by $index">
            <td><h3><a href="#!/user/{{model.user._id}}/view/{{art._id}}/details">
                {{art.name}}</a><a ng-click="model.removeImage(art._id)">
                    <span class="glyphicon glyphicon-remove pull-right">
                    </span>

            </a>
                <a href="#!/profile/{{model.user._id}}/home/albums/{{model.albumId}}/edit/{{art._id}}"
                   class="glyphicon glyphicon-plus-sign pull-right">
                </a></h3>
                <img ng-src="{{art.src}}" style="width : 100%">


            <td>

            </td>
        </tr>
    </table>


</div>

