<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <a href="#!/profile/{{model.user._id}}/home">
                <span class="header-plus pull-left glyphicon glyphicon-chevron-left">
                </span>
        </a>


            <div class="container-fluid">
                <a href="#!/profile/{{model.user._id}}">
        <span class="pull-right glyphicon glyphicon-user">
                </span>
                </a>
            </div>


        </div>
    </div>
</nav>


<div class="lpb-home-container">
    <h1>{{model.album.name}}</h1>
</div>




<table class="table lpb-pic-viewer container-fluid">
    <tr ng-repeat="art in model.showArt track by $index">
        <td><h3><a href="#!/user/{{model.user._id}}/view/{{art._id}}/details">
            {{art.name}}</a></h3>
            </a>  <img  ng-src="{{art.src}}" style="width : 100%">
            </td>

        <td>
        </td>
    </tr>
</table>




