<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <a href="#!/profile/{{model.user._id}}">
                <span class="header-plus pull-left glyphicon glyphicon-chevron-left">
                </span>
        </a>
        <span> <input type="text" class="form-control lpb-navbar-search pull-left"
                      placeholder="search..."
                      ng-model="model.searchInput">
                </span>
        <span ng-click="model.searchByTag(model.searchInput)"
              class="pull-left glyphicon glyphicon-search"></span>


        <div class="container-fluid">
                <span ng-click="model.searchHot(model.searchInput)"
                      class="pull-left glyphicon glyphicon-fire">
                </span>

            <span ng-click="model.showFavoritesForUser()"
                  class="pull-left glyphicon glyphicon-heart">
                </span>


            <div class="container-fluid">
                <a href="#!/profile/{{model.user._id}}">
        <span class="pull-right glyphicon glyphicon-user">
                </span>
                </a>
            </div>


        </div>
    </div>
</nav>


<div class="lpb-home-container">
    <h1>view {{model.follower.username}}'s Albums below</h1>
</div>




<div class="container-fluid">


    <li ng-repeat="album in model.followAlbums" class="list-group-item">
        <div class="row">
            <div class="col-xs-10">
                <h5><a href="#!/profile/{{model.user._id}}/view/{{model.follower._id}}/albums/{{album._id}}">{{album.name}}</a></h5>
            </div>
        </div>
    </li>

</div>


